*{
    font-family: 'Museo Sans Cyrl', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 950px;  
    margin: 0 auto;
}

.promo{
   min-height: 650px; 
   padding: 21px 0 93px 0;
   background: url('../Image/bg.png') center center/cover no-repeat; 
}

.header{
   display: flex; 
   justify-content: space-between;
   align-items: center;
}

.header-logo{
    width: 250px;
}

.header-logo img{
   width: 100%; 
}

.header-official{
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.header-official span{
    display: block;
    font-size: 18px;
}

.header-phone{
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.button{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: #c70101;
    border: none;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.header-contacts{
   display: flex; 
   flex-direction: column;
   align-items: flex-end;
}


.promo-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 90px;
}

.promo-header{
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 42px;
}

.promo-subheader{
    margin-top: 17px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 24px;
}

.promo-icons{
    margin-top: 65px;
    width: 425px;
    display: flex;
    justify-content: space-between;
}

.promo-icon{
    width: 100px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.promo-icon img{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px; 
}

.button-main{
    width: 300px;
    height: 50px;
    font-size: 16px;
    margin-top: 67px;
}

.promo-link{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin-top: 18px;
}

.promo-link a{
    color: #ffffff;
    text-decoration: underline;
    text-transform: uppercase;
}

.benefits{
    background: #F6F6F6;
}

.benedit-h2{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    padding-top: 10%;
}

.benefit-info{
    padding: 5% 0 5% 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 50px;
}

.block-info{
    width: 30%;
}

.block-info h3{
    font-weight: 700;
    font-size: 18px;
    padding-top: 3%;
}

.block-info p{   
    font-weight: 300;
    font-size: 14px;
    padding-top: 3%;
}

.block-info a{
    color: #c70101;
}